@import "tailwindcss";
@font-face {
  font-family: 'Anton';
  src: url('/fonts/Anton/Anton-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;   /* variable weights */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@theme {
  --color-gray: #6B7280;
  --color-black: #010101;
  --color-yellow: #FAC61B;
  --color-white: #ffffff;
  --color-red: #ee2222;

  --font-heading: 'Anton', sans-serif;
  --font-body: 'Inter', sans-serif;
}

* {
  @apply scroll-smooth font-body ;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading font-light;
}


html {
    overflow-y: scroll;
}

.activeLink {
    @apply  w-fit inline-block font-semibold capitalize border-b-2 border-[#fac712] py-1 text-[#fac712] 
}

.link {
    @apply  w-fit inline-block font-semibold capitalize border-b-2 border-transparent py-1 text-black
}

.searchIcon {
  @apply h-4 w-4 text-base relative left-8 top-0 z-40 cursor-pointer  ;
}
.inActiveSize{
  @apply w-16 h-16 bg-white flex flex-row items-center justify-center text-2xl font-bold border-2 border-gray text-gray
}
.activeSize{
  @apply w-16 h-16 bg-yellow flex flex-row items-center justify-center text-2xl font-bold border-2 border-black text-black
}
  
.inActiveColor{
  @apply w-16 h-16 border-2 border-gray mb-18 rounded-full
}
.activeColor{
  @apply w-16 h-16 border-5 border-black mb-18 rounded-full
}
.activeColorText{
  @apply text-black text-lg font-bold text-center 
}
.inActiveColorText{
  @apply text-gray text-lg font-normal  text-center
}
